.pictures {
  display: grid;
  grid-template-areas:
    "img-1 img-1 img-2 img-3 img-4"
    "img-5 img-6 img-2 img-8 img-8"
    "img-5 img-7 img-2 img-8 img-8";
  grid-gap: 10px;
  padding: 0 10px;
  margin-bottom: 143px;
}

.types_excursions_content_card-info h3 {
  color: #0499dd;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.pictures__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pictures__img:nth-of-type(1) {
  grid-area: img-1;
  /* max-width: 503px; */
}
.pictures__img:nth-of-type(2) {
  grid-area: img-2;
  /* max-width: 362px; */
}
.pictures__img:nth-of-type(3) {
  grid-area: img-3;
  /* max-width: 266px; */
}
.pictures__img:nth-of-type(4) {
  grid-area: img-4;
  /* max-width: 216px; */
}
.pictures__img:nth-of-type(5) {
  grid-area: img-5;
  /* max-width: 216px; */
}
.pictures__img:nth-of-type(6) {
  grid-area: img-6;
  /* max-width: 266px; */
}
.pictures__img:nth-of-type(7) {
  grid-area: img-7;
  /* max-width: 266px; */
}

.pictures__img:nth-of-type(8) {
  grid-area: img-8;
  /* max-width: 503px; */
}

@media(max-width: 768px) {
.pictures__img:nth-of-type(1) {
  display: none;
  /* max-width: 503px; */
}
.pictures__img:nth-of-type(5) {
  display: none;
}
.pictures__img:nth-of-type(6) {
  display: none;
}
.pictures__img:nth-of-type(7) {
  display: none;
}
}